doctype html
html
head
    title Network App project
    link(rel="stylesheet", href="index.css")
body 
div.container
    h1=title 
    form.todo-form(action="/", method="post") 
        label.todo-label(for="todo") ToDo
        input.todo-input(name="todo" type="text")
        input.todo-input-submit(type="submit", value="Submit") 
  