<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style/index_elec.css">
  
  <title>Document</title>
</head>

<body>
  <div class="container" style="-webkit-app-region: drag;">
    <form action="/todo_electron" method="post" class="todo-form">
      <label for="todo" class="todo-label">ToDo</label>
      <input type="text" name="todo" placeholder="task title" class="todo-input" id="taskname">
      <input type="submit" , value="Submit" class="todo-input-submit" id="addtask">
      <textarea name="taskdescribe" id="taskdescribe" placeholder="describe" cols="30" rows="7"></textarea>
    </form>
      <div class="tasks" id="taskContainer">
      <% for(let idx = tasks.length-1; idx >= 0; idx--){ %>
      <div class="task">
        <p class="taskname"><%= tasks[idx].title %></p>
        <form class="done-form" action="/todo_electron/delete/<%= idx %>" , method="get">
          <input class="done-submit" type="submit" , value="Finish">
        </form>
      </div>
      <% } %>
    </div>

  </div>
  <script src="javascribe/index.js"></script>
  
</body>

</html>