<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/taskpage.css" />
    <title>Document</title>
  </head>
  <!-- 在 body 中加入返回鍵的連結 -->
<body>
    <div class="container">
        <div class="header">
            <a href="/todo" class="back-button">返回</a>
            <div id="tasktitle">
                <h3><%= title %></h3>
            </div>
        </div>
        <div class="taskdescribe">
            <p>原本內容為：</p>
            <p id="describe"><%= describe %></p>
        </div>
        <form action="/todo/task" method="post">
            <p>更新內容：</p>
            <textarea name="editdescribe" class="edit-textarea" cols="70" rows="10"><%= describe %></textarea>
            <button class="done-edit" type="submit">編輯</button>
        </form>
    </div>
</body>

  <script src="/javascribe/taskpage.js"></script>
</html>
