<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/taskpage.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="tasktitle">
            <h3><%= title %></h3>
            <p><%= describe %></p>
        </div>
    </div>
</body>
</html>