/*
color: {
    #FFFCFF ,  白
    #b0dbfffb,  淺藍
    #247BA0 ,   深藍
    #d6c7b1 ,   淺灰
    #807767     深灰
}
*/
body{
    background-color: #FFFCFF;
}

.container{
    width: 50rem;
    /* height: 100%; */
    margin: auto;
    text-align: center;
    color: #807767;
    
}

.todo-form{
    color: #FFFCFF;
    background-color: #d6c7b1;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
}

.todo-label{
    color: #807767;
    padding: 0.5rem;
    font-weight: 800;
    font-size: 1.5rem;
    text-shadow: 2px 2px  #FFFCFF;
}

.todo-input{
    height: 1.5rem;
    font-size: 1.3rem;
    background-color: #FFFCFF;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 3px #807767;
    opacity: 0.7;
}

.todo-input-submit{
    color: #FFFCFF;
    background-color: #247BA0;
    margin: 0 0.8rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px #807767;
}

#hint{
    color: #247BA0;
    margin-top: 0.4rem;
    opacity: 0.7;
}

.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task{
    color: #FFFCFF;
    width: 25rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px #807767;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskname{
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-left: 2rem;
}

.done-submit{
    color: #807767;
    font-weight: 600;
    background-color: #FFFCFF;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px #807767;
    height: 4rem;
    opacity: 0.7;
}

