body {
    font-family: 'Arial', sans-serif;
    background-image: url('canadian-dollar.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.taskdescribe {
    margin-bottom: 30px;
}

.back-button, .done-edit {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.back-button {
    background-color: #3498db;
    color: #fff;
}

.back-button:hover {
    background-color: #2980b9;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
    transform: scale(1.1);
}

.done-edit {
    background-color: #4caf50;
    color: #fff;
    border: none;
}

.done-edit:hover {
    background-color: #45a049;
    box-shadow: 0 0 15px rgba(76, 175, 80, 0.5);
    transform: scale(1.1);
}

h3 {
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

textarea.edit-textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button.done-edit {
    padding: 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

button.done-edit:hover {
    background-color: #45a049;
    box-shadow: 0 0 15px rgba(76, 175, 80, 0.5);
    transform: scale(1.1);
}

#tasktitle {
    border-bottom: 2px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 20px;
    text-align: center;
}

#tasktitle {
    flex-grow: 1;
    font-size: 2em;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
} 
